@charset "UTF-8";
@import url(font-awesome.min.css);
@import url("http://fonts.googleapis.com/css?family=Source+Sans+Pro:300");


button {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}

/****************************************
 * flex box for NAVBAR
 */
#navbar .name{
	font: Work Sans;
	font-weight: 100;
	font-size: 25px;
	letter-spacing: 1px;
}
.flex-container-navbar{
	padding: 0;
	margin: 0;
	list-style: none;

	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;

	flex-flow: row;
/*	justify-content: space-around;*/
}
.flex-container-navbar .flex-item{
	margin: auto;
}
.flex-container-navbar-menu, .flex-container-navbar-name{
	padding: 0;
	margin: 0;
	list-style: none;

	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;

	flex-flow: row;
/*	justify-content: space-around;*/
}
.flex-container-navbar-name .flex-item{
	text-align: center;
	margin-right: auto;
}
.flex-container-navbar-menu .flex-item{
	text-align: center;
/*	margin: auto;*/
	padding: 5px;
	margin: 5px;

	font-family: sans-serif;
	font-weight: lighter;
	font-size: : 18px;
}
.flex-container-navbar-social{
	padding: 0;
	margin: 0;
	list-style: none;

	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;

	flex-flow: row;
/*	justify-content: space-around;*/
}
.flex-container-navbar-social .flex-item{
	text-align: center;
	margin-left: auto;
}
/****************************************
 *
 */

/****************************************
 * flex box for CONTACT
 */
.flex-container-contact{
	padding: 0;
	margin: 0;
	list-style: none;

	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;

	flex-flow: column;
	justify-content: space-around;
}
.flex-container-contact .flex-item{
	text-align: center;
	margin: 5px;
}
/****************************************
 *
 */

/****************************************
 * hide div when using switch
 */
.onmouseover{
    display: none;
}
/****************************************
 *
 */

/****************************************
 * wave/radar like effect on messenger button
 */
.fb-btn { 
/*    position:absolute; */
/*    top:50%; left:50%; */
    z-index:1; 
/*    -webkit-transform:translateX(-50%) translateY(-50%); */
/*    transform:translateX(-50%) translateY(-50%); */
}
#pulse1, #pulse2 {
    border-radius:3%;
    position:absolute;
    height: 50px; width: 50px;
    top: 50%; left:50%;
    border: 2px solid rgba(66, 152, 181, 1);
    -webkit-animation: pulsate 7s infinite;
    animation: pulsate 7s infinite;
    background-color:#e0ecf3; //#4298b5;
    -webkit-transform:translateX(-50%) translateY(-50%);
    transform:translateX(-50%) translateY(-50%);
}
#pulse2 {
    -webkit-animation: pulsate 7s -.5s infinite;
    animation: pulsate 7s -.5s infinite;
}
@-webkit-keyframes pulsate {
    0%,100% {
        width:50px;
        height:50px;
        opacity:0;
    }
    1% { opacity:1; }
    70% {
        opacity:0.5;
    }
    99.999% {
        width:100px;*/
        height:100px;*/
        opacity:0;
    }
}
@keyframes pulsate {
    0%,100% {
        width:50px;
        height:50px;
        opacity:0;
    }
    1% { opacity:1; }
    70% {
        opacity:0.5;
    }
    99.999% {
        width:100px;
        height:100px;
        opacity:0;
    }
}

/****************************************
 *
 */
